#project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    align-items: space-evenly;   
}

ul {
    list-style-type: none;
    padding: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

input[type=text], input[type=button] {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 3rem;
    font-size: 3rem;
    text-align: center;
    white-space: normal !important;
    word-break: break-all;
}

button {
    width: 100%;
    margin: 1rem 1rem;
    width: fit-content;
    height: fit-content;
}